<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v5" sku=".NET,Version=v5" />
    </startup>
  <appSettings>
    <add key="RNC" value="123456789"/>
    <add key="Api:CreateSystemSpecs" value="https://localhost:44319/api/SystemInfo"/>
  </appSettings>
</configuration>