<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v5" sku=".NET,Version=v5" />
    </startup>
  <appSettings>

    <add key="Api:BaseAdress" value="https://loca-lhost:44319"/>

    <!--SystemSpecs-->
    <add key="Api:SystemSpecs:Create" value="/api/SystemInfo"/>

    <!--Enterprise-->
    <add key="Api:Enterprise:Create" value="/api/Enterprise"/>
    <add key="Api:Enterprise:GetByRnc" value="/api/Enterprise"/>
    
    <!--VerifyConnection-->
    <add key="Api:Connection:Verify" value="/api/Connection"/>

  </appSettings>
</configuration>